.app {
  background-color: #050710;
  width: 100%;
  min-height: 100vh;
}
.container{
  max-width: 1080px;
  margin: 0 auto;
}

hr{
  width: 100%;
  opacity: 60%;
}
/* Width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f142c;;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0f3f87;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0a244c;
}
